*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.base{
    background-image: url(/base-apparel/base-apparel/images/bg-pattern-desktop.svg);
    height: 100vh;
    width: 60%;
}

.image{
    height: 100vh;
    width: 40%;
    background-image:url(/base-apparel/base-apparel/images/hero-desktop.jpg);
}
.container{
    display: flex;
}
.section1{
      margin-left: 10%;
      margin-bottom: 20px;
      letter-spacing: 5px;
      font-size: 50px;
     
}

img{
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 100px;
}
.section2{
    margin-left: 10%;
    font-family: 'Josefin Sans', sans-serif;
}

input{
    margin-left: 10%;
    margin-top: 30px;
    border-radius: 60px;
    padding: 10px 20px;
}
.base input{
    border-color: rosybrown;
}

::placeholder{
    color: rgb(188, 143, 143);
}

 button img{
      width: 25px;
}
.base button{
    border-radius: 50%;
    border: 0;
    padding: 24px 20px;
    font-size: 20px;
}
